@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap');


*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Raleway', sans-serif;
/* border: 1px solid red; */
}

body{
height: 100vh;
}
/* width */
::-webkit-scrollbar {
width:4px;
}

/* Track */
::-webkit-scrollbar-track {
background: #28272755; 
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #ffd700; 
border-radius: 70px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #555; 
}
